<!doctype html>
<html lang="en">
  <head>
    <title>RSS Reader</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/papercss@1.9.2/dist/paper.css"
    />
    <link
      href="{{ url_for('static',filename='styles/style.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <ul class="breadcrumb border">
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/manage">Manage</a></li>
    </ul>

    <article class="article">
      <h1 class="article-title text-secondary">{{ article.title }}</h1>

      <span class="article-meta">
        <a href="{{ article.linkOriginal }}"> {{ article.name }} </a> on {{ article.published }}</span>
      <br />
      <p>{{ article.content }}</p>
    </article>
  </body>
</html>
