html {
  background-color: #ffffff;
}

body {
  margin: 5px 100px;
}

.form-container {
  margin: 20px;
  width: 60%;
  padding: 10px;
}

form {
  padding: 25px;
  display: inline-block;
  width: 50%;
}
