html {
  background-color: black;
  color: white;
}

header {
  font-size: 24px;
  margin: 10px 0px;
  width: 100%;
  background-color: gray; 
}

body {
  margin: 5px 100px;
}

a {
  text-decoration: none;
  color: white;
}

.feeds-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.feed-card {
  grid-column: 1 / 4;
  grid-row: auto;
}

.published-date {
  font-size: 10px;
  color: gray;
}

@media only screen and (max-width: 600px) {
  body {
      margin: 5px 15px;
    }
  .feeds-container {
    grid-template-columns: 1fr;
  }
}
