html {
  background-color: #c0c0c0;
}

body {
  margin: 5px 100px;
}

/* .feeds-container { */
/*   display: grid; */
/*   grid-template-columns: repeat(3, 1fr); */
/*   grid-gap: 10px; */
/* } */
/**/
/* .feed-card { */
/*   max-height: 50px; */
/*   grid-column: 1 / 4; */
/*   grid-row: auto; */
/* } */
/**/
/* .published-date { */
/*   font-size: 10px; */
/*   color: gray; */
/* } */

.feeds-container {
  display: flex;
}

@media only screen and (max-width: 600px) {
  body {
      margin: 5px 15px;
    }
  .feeds-container {
    grid-template-columns: 1fr;
  }
}
