html {
  background-color:black;
  color: white;
}

body {
  margin: 5px 100px;
}

img {
  max-width: 100%;
  object-fit: scale-down;
}

@media only screen and (max-width: 600px) {
  body {
      margin: 5px 10px;
    }
}
